.register-page {
  text-align: center;
  font-size: 1em;
}

.register-page .content {
  margin: 0 auto;
  width: 300px;
  height: auto;
  border: 1px solid;
  margin-top: 20px;
  padding: 37px 0;
}

.register-page .header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.register-page .title {
  font-size: 1.5em;
}

.register-page .username, .register-page .email, .register-page .password {
  display: inline-block;
  padding: 10px;
}

.register-page input {
  font-size: 1em;
}

.register-page .register {
  font-size: 1em;
  margin: 16px;
}

.register-page .error {
  font-size: 0.8em;
  color: red;
  background-color: yellow;
  margin: 10px;
}

.register-page .message {
  font-size: 0.8em;
  color: green;
  background-color: lightblue;
  margin: 10px;
}

.register-page .login {
  font-size: 1em;
  margin: 16px;
}

